name: Run tests
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

permissions: read-all
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install protoc dependency
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          version: '24.x'
      - name: Build
        run: |
          cargo build --all-features --release
      - name: Format
        run: |
          cargo fmt --check
      - name: Run all tests
        run: |
          cargo test --all-features --release
      - name: Build test framework
        run: |
          cd examples
          cargo build --release
      - name: Test framework unit tests
        run: |
          cd examples
          cargo test
